dataset/sample_submission.csv
dataset/test.csv
dataset/train.csv
dataset/audios_test/audio_4.wav
dataset/audios_test/audio_10.wav
dataset/audios_test/audio_19.wav
dataset/audios_test/audio_20.wav
dataset/audios_test/audio_21.wav
dataset/audios_test/audio_29.wav
dataset/audios_test/audio_34.wav
dataset/audios_test/audio_48.wav
dataset/audios_test/audio_66.wav
dataset/audios_test/audio_68.wav
dataset/audios_test/audio_72.wav
dataset/audios_test/audio_75.wav
dataset/audios_test/audio_89.wav
dataset/audios_test/audio_95.wav
dataset/audios_test/audio_103.wav
dataset/audios_test/audio_107.wav
dataset/audios_test/audio_109.wav
dataset/audios_test/audio_113.wav
dataset/audios_test/audio_135.wav
dataset/audios_test/audio_137.wav
dataset/audios_test/audio_138.wav
dataset/audios_test/audio_148.wav
dataset/audios_test/audio_151.wav
dataset/audios_test/audio_153.wav
dataset/audios_test/audio_158.wav
dataset/audios_test/audio_159.wav
dataset/audios_test/audio_165.wav
dataset/audios_test/audio_172.wav
dataset/audios_test/audio_177.wav
dataset/audios_test/audio_179.wav
dataset/audios_test/audio_180.wav
dataset/audios_test/audio_196.wav
dataset/audios_test/audio_198.wav
dataset/audios_test/audio_217.wav
dataset/audios_test/audio_218.wav
dataset/audios_test/audio_221.wav
dataset/audios_test/audio_225.wav
dataset/audios_test/audio_235.wav
dataset/audios_test/audio_261.wav
dataset/audios_test/audio_263.wav
dataset/audios_test/audio_274.wav
dataset/audios_test/audio_276.wav
dataset/audios_test/audio_281.wav
dataset/audios_test/audio_282.wav
dataset/audios_test/audio_285.wav
dataset/audios_test/audio_286.wav
dataset/audios_test/audio_287.wav
dataset/audios_test/audio_290.wav
dataset/audios_test/audio_300.wav
dataset/audios_test/audio_306.wav
dataset/audios_test/audio_308.wav
dataset/audios_test/audio_320.wav
dataset/audios_test/audio_321.wav
dataset/audios_test/audio_322.wav
dataset/audios_test/audio_330.wav
dataset/audios_test/audio_348.wav
dataset/audios_test/audio_360.wav
dataset/audios_test/audio_379.wav
dataset/audios_test/audio_386.wav
dataset/audios_test/audio_388.wav
dataset/audios_test/audio_391.wav
dataset/audios_test/audio_394.wav
dataset/audios_test/audio_401.wav
dataset/audios_test/audio_408.wav
dataset/audios_test/audio_422.wav
dataset/audios_test/audio_428.wav
dataset/audios_test/audio_433.wav
dataset/audios_test/audio_435.wav
dataset/audios_test/audio_437.wav
dataset/audios_test/audio_448.wav
dataset/audios_test/audio_487.wav
dataset/audios_test/audio_488.wav
dataset/audios_test/audio_499.wav
dataset/audios_test/audio_500.wav
dataset/audios_test/audio_512.wav
dataset/audios_test/audio_519.wav
dataset/audios_test/audio_521.wav
dataset/audios_test/audio_525.wav
dataset/audios_test/audio_529.wav
dataset/audios_test/audio_540.wav
dataset/audios_test/audio_541.wav
dataset/audios_test/audio_543.wav
dataset/audios_test/audio_545.wav
dataset/audios_test/audio_546.wav
dataset/audios_test/audio_550.wav
dataset/audios_test/audio_554.wav
dataset/audios_test/audio_556.wav
dataset/audios_test/audio_564.wav
dataset/audios_test/audio_569.wav
dataset/audios_test/audio_572.wav
dataset/audios_test/audio_580.wav
dataset/audios_test/audio_599.wav
dataset/audios_test/audio_604.wav
dataset/audios_test/audio_633.wav
dataset/audios_test/audio_641.wav
dataset/audios_test/audio_644.wav
dataset/audios_test/audio_656.wav
dataset/audios_test/audio_662.wav
dataset/audios_test/audio_665.wav
dataset/audios_test/audio_676.wav
dataset/audios_test/audio_683.wav
dataset/audios_test/audio_690.wav
dataset/audios_test/audio_692.wav
dataset/audios_test/audio_698.wav
dataset/audios_test/audio_702.wav
dataset/audios_test/audio_706.wav
dataset/audios_test/audio_709.wav
dataset/audios_test/audio_713.wav
dataset/audios_test/audio_719.wav
dataset/audios_test/audio_726.wav
dataset/audios_test/audio_733.wav
dataset/audios_test/audio_735.wav
dataset/audios_test/audio_746.wav
dataset/audios_test/audio_759.wav
dataset/audios_test/audio_762.wav
dataset/audios_test/audio_767.wav
dataset/audios_test/audio_770.wav
dataset/audios_test/audio_800.wav
dataset/audios_test/audio_805.wav
dataset/audios_test/audio_811.wav
dataset/audios_test/audio_820.wav
dataset/audios_test/audio_831.wav
dataset/audios_test/audio_841.wav
dataset/audios_test/audio_857.wav
dataset/audios_test/audio_858.wav
dataset/audios_test/audio_882.wav
dataset/audios_test/audio_884.wav
dataset/audios_test/audio_885.wav
dataset/audios_test/audio_888.wav
dataset/audios_test/audio_897.wav
dataset/audios_test/audio_908.wav
dataset/audios_test/audio_920.wav
dataset/audios_test/audio_922.wav
dataset/audios_test/audio_932.wav
dataset/audios_test/audio_949.wav
dataset/audios_test/audio_958.wav
dataset/audios_test/audio_959.wav
dataset/audios_test/audio_971.wav
dataset/audios_test/audio_998.wav
dataset/audios_test/audio_1012.wav
dataset/audios_test/audio_1013.wav
dataset/audios_test/audio_1019.wav
dataset/audios_test/audio_1022.wav
dataset/audios_test/audio_1026.wav
dataset/audios_test/audio_1033.wav
dataset/audios_test/audio_1035.wav
dataset/audios_test/audio_1048.wav
dataset/audios_test/audio_1054.wav
dataset/audios_test/audio_1058.wav
dataset/audios_test/audio_1061.wav
dataset/audios_test/audio_1068.wav
dataset/audios_test/audio_1081.wav
dataset/audios_test/audio_1089.wav
dataset/audios_test/audio_1091.wav
dataset/audios_test/audio_1101.wav
dataset/audios_test/audio_1115.wav
dataset/audios_test/audio_1116.wav
dataset/audios_test/audio_1122.wav
dataset/audios_test/audio_1123.wav
dataset/audios_test/audio_1124.wav
dataset/audios_test/audio_1138.wav
dataset/audios_test/audio_1159.wav
dataset/audios_test/audio_1166.wav
dataset/audios_test/audio_1169.wav
dataset/audios_test/audio_1173.wav
dataset/audios_test/audio_1176.wav
dataset/audios_test/audio_1178.wav
dataset/audios_test/audio_1179.wav
dataset/audios_test/audio_1183.wav
dataset/audios_test/audio_1190.wav
dataset/audios_test/audio_1193.wav
dataset/audios_test/audio_1195.wav
dataset/audios_test/audio_1205.wav
dataset/audios_test/audio_1214.wav
dataset/audios_test/audio_1215.wav
dataset/audios_test/audio_1217.wav
dataset/audios_test/audio_1240.wav
dataset/audios_test/audio_1242.wav
dataset/audios_test/audio_1243.wav
dataset/audios_test/audio_1256.wav
dataset/audios_test/audio_1267.wav
dataset/audios_test/audio_1275.wav
dataset/audios_test/audio_1278.wav
dataset/audios_test/audio_1280.wav
dataset/audios_test/audio_1286.wav
dataset/audios_test/audio_1289.wav
dataset/audios_test/audio_1291.wav
dataset/audios_test/audio_1292.wav
dataset/audios_test/audio_1293.wav
dataset/audios_test/audio_1297.wav
dataset/audios_test/audio_1311.wav
dataset/audios_test/audio_1315.wav
dataset/audios_test/audio_1317.wav
dataset/audios_test/audio_1321.wav
dataset/audios_test/audio_1323.wav
dataset/audios_train/audio_2.wav
dataset/audios_train/audio_5.wav
dataset/audios_train/audio_7.wav
dataset/audios_train/audio_8.wav
dataset/audios_train/audio_9.wav
dataset/audios_train/audio_12.wav
dataset/audios_train/audio_15.wav
dataset/audios_train/audio_17.wav
dataset/audios_train/audio_23.wav
dataset/audios_train/audio_32.wav
dataset/audios_train/audio_33.wav
dataset/audios_train/audio_43.wav
dataset/audios_train/audio_44.wav
dataset/audios_train/audio_45.wav
dataset/audios_train/audio_52.wav
dataset/audios_train/audio_53.wav
dataset/audios_train/audio_55.wav
dataset/audios_train/audio_59.wav
dataset/audios_train/audio_61.wav
dataset/audios_train/audio_62.wav
dataset/audios_train/audio_63.wav
dataset/audios_train/audio_64.wav
dataset/audios_train/audio_67.wav
dataset/audios_train/audio_69.wav
dataset/audios_train/audio_71.wav
dataset/audios_train/audio_74.wav
dataset/audios_train/audio_76.wav
dataset/audios_train/audio_77.wav
dataset/audios_train/audio_80.wav
dataset/audios_train/audio_82.wav
dataset/audios_train/audio_85.wav
dataset/audios_train/audio_90.wav
dataset/audios_train/audio_93.wav
dataset/audios_train/audio_102.wav
dataset/audios_train/audio_104.wav
dataset/audios_train/audio_105.wav
dataset/audios_train/audio_110.wav
dataset/audios_train/audio_116.wav
dataset/audios_train/audio_117.wav
dataset/audios_train/audio_118.wav
dataset/audios_train/audio_119.wav
dataset/audios_train/audio_120.wav
dataset/audios_train/audio_123.wav
dataset/audios_train/audio_127.wav
dataset/audios_train/audio_130.wav
dataset/audios_train/audio_131.wav
dataset/audios_train/audio_133.wav
dataset/audios_train/audio_140.wav
dataset/audios_train/audio_142.wav
dataset/audios_train/audio_144.wav
dataset/audios_train/audio_146.wav
dataset/audios_train/audio_147.wav
dataset/audios_train/audio_154.wav
dataset/audios_train/audio_163.wav
dataset/audios_train/audio_167.wav
dataset/audios_train/audio_168.wav
dataset/audios_train/audio_184.wav
dataset/audios_train/audio_185.wav
dataset/audios_train/audio_186.wav
dataset/audios_train/audio_188.wav
dataset/audios_train/audio_194.wav
dataset/audios_train/audio_200.wav
dataset/audios_train/audio_202.wav
dataset/audios_train/audio_205.wav
dataset/audios_train/audio_210.wav
dataset/audios_train/audio_212.wav
dataset/audios_train/audio_223.wav
dataset/audios_train/audio_226.wav
dataset/audios_train/audio_236.wav
dataset/audios_train/audio_237.wav
dataset/audios_train/audio_239.wav
dataset/audios_train/audio_240.wav
dataset/audios_train/audio_241.wav
dataset/audios_train/audio_244.wav
dataset/audios_train/audio_245.wav
dataset/audios_train/audio_250.wav
dataset/audios_train/audio_252.wav
dataset/audios_train/audio_254.wav
dataset/audios_train/audio_255.wav
dataset/audios_train/audio_256.wav
dataset/audios_train/audio_259.wav
dataset/audios_train/audio_265.wav
dataset/audios_train/audio_270.wav
dataset/audios_train/audio_272.wav
dataset/audios_train/audio_273.wav
dataset/audios_train/audio_275.wav
dataset/audios_train/audio_278.wav
dataset/audios_train/audio_288.wav
dataset/audios_train/audio_289.wav
dataset/audios_train/audio_291.wav
dataset/audios_train/audio_293.wav
dataset/audios_train/audio_297.wav
dataset/audios_train/audio_301.wav
dataset/audios_train/audio_303.wav
dataset/audios_train/audio_311.wav
dataset/audios_train/audio_312.wav
dataset/audios_train/audio_313.wav
dataset/audios_train/audio_314.wav
dataset/audios_train/audio_315.wav
dataset/audios_train/audio_317.wav
dataset/audios_train/audio_324.wav
dataset/audios_train/audio_327.wav
dataset/audios_train/audio_332.wav
dataset/audios_train/audio_334.wav
dataset/audios_train/audio_336.wav
dataset/audios_train/audio_339.wav
dataset/audios_train/audio_345.wav
dataset/audios_train/audio_346.wav
dataset/audios_train/audio_350.wav
dataset/audios_train/audio_352.wav
dataset/audios_train/audio_353.wav
dataset/audios_train/audio_358.wav
dataset/audios_train/audio_359.wav
dataset/audios_train/audio_362.wav
dataset/audios_train/audio_363.wav
dataset/audios_train/audio_365.wav
dataset/audios_train/audio_366.wav
dataset/audios_train/audio_373.wav
dataset/audios_train/audio_374.wav
dataset/audios_train/audio_387.wav
dataset/audios_train/audio_389.wav
dataset/audios_train/audio_390.wav
dataset/audios_train/audio_395.wav
dataset/audios_train/audio_396.wav
dataset/audios_train/audio_399.wav
dataset/audios_train/audio_402.wav
dataset/audios_train/audio_404.wav
dataset/audios_train/audio_413.wav
dataset/audios_train/audio_414.wav
dataset/audios_train/audio_419.wav
dataset/audios_train/audio_424.wav
dataset/audios_train/audio_427.wav
dataset/audios_train/audio_432.wav
dataset/audios_train/audio_436.wav
dataset/audios_train/audio_440.wav
dataset/audios_train/audio_441.wav
dataset/audios_train/audio_443.wav
dataset/audios_train/audio_445.wav
dataset/audios_train/audio_446.wav
dataset/audios_train/audio_447.wav
dataset/audios_train/audio_450.wav
dataset/audios_train/audio_455.wav
dataset/audios_train/audio_460.wav
dataset/audios_train/audio_462.wav
dataset/audios_train/audio_463.wav
dataset/audios_train/audio_464.wav
dataset/audios_train/audio_468.wav
dataset/audios_train/audio_469.wav
dataset/audios_train/audio_471.wav
dataset/audios_train/audio_477.wav
dataset/audios_train/audio_478.wav
dataset/audios_train/audio_479.wav
dataset/audios_train/audio_480.wav
dataset/audios_train/audio_481.wav
dataset/audios_train/audio_482.wav
dataset/audios_train/audio_483.wav
dataset/audios_train/audio_484.wav
dataset/audios_train/audio_485.wav
dataset/audios_train/audio_489.wav
dataset/audios_train/audio_490.wav
dataset/audios_train/audio_492.wav
dataset/audios_train/audio_493.wav
dataset/audios_train/audio_494.wav
dataset/audios_train/audio_495.wav
dataset/audios_train/audio_503.wav
dataset/audios_train/audio_504.wav
dataset/audios_train/audio_513.wav
dataset/audios_train/audio_514.wav
dataset/audios_train/audio_516.wav
dataset/audios_train/audio_518.wav
dataset/audios_train/audio_526.wav
dataset/audios_train/audio_527.wav
dataset/audios_train/audio_533.wav
dataset/audios_train/audio_535.wav
dataset/audios_train/audio_536.wav
dataset/audios_train/audio_538.wav
dataset/audios_train/audio_539.wav
dataset/audios_train/audio_542.wav
dataset/audios_train/audio_547.wav
dataset/audios_train/audio_548.wav
dataset/audios_train/audio_549.wav
dataset/audios_train/audio_552.wav
dataset/audios_train/audio_558.wav
dataset/audios_train/audio_563.wav
dataset/audios_train/audio_567.wav
dataset/audios_train/audio_576.wav
dataset/audios_train/audio_581.wav
dataset/audios_train/audio_582.wav
dataset/audios_train/audio_583.wav
dataset/audios_train/audio_586.wav
dataset/audios_train/audio_590.wav
dataset/audios_train/audio_591.wav
dataset/audios_train/audio_592.wav
dataset/audios_train/audio_600.wav
dataset/audios_train/audio_602.wav
dataset/audios_train/audio_609.wav
dataset/audios_train/audio_611.wav
dataset/audios_train/audio_620.wav
dataset/audios_train/audio_624.wav
dataset/audios_train/audio_627.wav
dataset/audios_train/audio_630.wav
dataset/audios_train/audio_636.wav
dataset/audios_train/audio_640.wav
dataset/audios_train/audio_642.wav
dataset/audios_train/audio_643.wav
dataset/audios_train/audio_647.wav
dataset/audios_train/audio_649.wav
dataset/audios_train/audio_652.wav
dataset/audios_train/audio_653.wav
dataset/audios_train/audio_654.wav
dataset/audios_train/audio_657.wav
dataset/audios_train/audio_658.wav
dataset/audios_train/audio_661.wav
dataset/audios_train/audio_668.wav
dataset/audios_train/audio_674.wav
dataset/audios_train/audio_675.wav
dataset/audios_train/audio_677.wav
dataset/audios_train/audio_678.wav
dataset/audios_train/audio_680.wav
dataset/audios_train/audio_681.wav
dataset/audios_train/audio_685.wav
dataset/audios_train/audio_686.wav
dataset/audios_train/audio_687.wav
dataset/audios_train/audio_688.wav
dataset/audios_train/audio_693.wav
dataset/audios_train/audio_694.wav
dataset/audios_train/audio_695.wav
dataset/audios_train/audio_696.wav
dataset/audios_train/audio_697.wav
dataset/audios_train/audio_699.wav
dataset/audios_train/audio_700.wav
dataset/audios_train/audio_701.wav
dataset/audios_train/audio_703.wav
dataset/audios_train/audio_704.wav
dataset/audios_train/audio_705.wav
dataset/audios_train/audio_707.wav
dataset/audios_train/audio_708.wav
dataset/audios_train/audio_711.wav
dataset/audios_train/audio_716.wav
dataset/audios_train/audio_721.wav
dataset/audios_train/audio_722.wav
dataset/audios_train/audio_724.wav
dataset/audios_train/audio_725.wav
dataset/audios_train/audio_727.wav
dataset/audios_train/audio_730.wav
dataset/audios_train/audio_731.wav
dataset/audios_train/audio_736.wav
dataset/audios_train/audio_743.wav
dataset/audios_train/audio_744.wav
dataset/audios_train/audio_745.wav
dataset/audios_train/audio_748.wav
dataset/audios_train/audio_753.wav
dataset/audios_train/audio_755.wav
dataset/audios_train/audio_758.wav
dataset/audios_train/audio_760.wav
dataset/audios_train/audio_763.wav
dataset/audios_train/audio_765.wav
dataset/audios_train/audio_766.wav
dataset/audios_train/audio_771.wav
dataset/audios_train/audio_773.wav
dataset/audios_train/audio_776.wav
dataset/audios_train/audio_778.wav
dataset/audios_train/audio_779.wav
dataset/audios_train/audio_783.wav
dataset/audios_train/audio_787.wav
dataset/audios_train/audio_788.wav
dataset/audios_train/audio_790.wav
dataset/audios_train/audio_794.wav
dataset/audios_train/audio_796.wav
dataset/audios_train/audio_802.wav
dataset/audios_train/audio_807.wav
dataset/audios_train/audio_808.wav
dataset/audios_train/audio_809.wav
dataset/audios_train/audio_812.wav
dataset/audios_train/audio_813.wav
dataset/audios_train/audio_817.wav
dataset/audios_train/audio_826.wav
dataset/audios_train/audio_827.wav
dataset/audios_train/audio_832.wav
dataset/audios_train/audio_834.wav
dataset/audios_train/audio_836.wav
dataset/audios_train/audio_842.wav
dataset/audios_train/audio_848.wav
dataset/audios_train/audio_853.wav
dataset/audios_train/audio_854.wav
dataset/audios_train/audio_859.wav
dataset/audios_train/audio_860.wav
dataset/audios_train/audio_865.wav
dataset/audios_train/audio_867.wav
dataset/audios_train/audio_868.wav
dataset/audios_train/audio_869.wav
dataset/audios_train/audio_870.wav
dataset/audios_train/audio_873.wav
dataset/audios_train/audio_874.wav
dataset/audios_train/audio_875.wav
dataset/audios_train/audio_876.wav
dataset/audios_train/audio_886.wav
dataset/audios_train/audio_887.wav
dataset/audios_train/audio_889.wav
dataset/audios_train/audio_890.wav
dataset/audios_train/audio_896.wav
dataset/audios_train/audio_899.wav
dataset/audios_train/audio_902.wav
dataset/audios_train/audio_903.wav
dataset/audios_train/audio_904.wav
dataset/audios_train/audio_905.wav
dataset/audios_train/audio_909.wav
dataset/audios_train/audio_913.wav
dataset/audios_train/audio_916.wav
dataset/audios_train/audio_917.wav
dataset/audios_train/audio_918.wav
dataset/audios_train/audio_919.wav
dataset/audios_train/audio_921.wav
dataset/audios_train/audio_925.wav
dataset/audios_train/audio_926.wav
dataset/audios_train/audio_930.wav
dataset/audios_train/audio_931.wav
dataset/audios_train/audio_934.wav
dataset/audios_train/audio_937.wav
dataset/audios_train/audio_939.wav
dataset/audios_train/audio_940.wav
dataset/audios_train/audio_942.wav
dataset/audios_train/audio_944.wav
dataset/audios_train/audio_946.wav
dataset/audios_train/audio_947.wav
dataset/audios_train/audio_948.wav
dataset/audios_train/audio_950.wav
dataset/audios_train/audio_952.wav
dataset/audios_train/audio_954.wav
dataset/audios_train/audio_955.wav
dataset/audios_train/audio_956.wav
dataset/audios_train/audio_957.wav
dataset/audios_train/audio_961.wav
dataset/audios_train/audio_963.wav
dataset/audios_train/audio_964.wav
dataset/audios_train/audio_965.wav
dataset/audios_train/audio_970.wav
dataset/audios_train/audio_978.wav
dataset/audios_train/audio_980.wav
dataset/audios_train/audio_983.wav
dataset/audios_train/audio_988.wav
dataset/audios_train/audio_989.wav
dataset/audios_train/audio_990.wav
dataset/audios_train/audio_993.wav
dataset/audios_train/audio_994.wav
dataset/audios_train/audio_1008.wav
dataset/audios_train/audio_1017.wav
dataset/audios_train/audio_1024.wav
dataset/audios_train/audio_1025.wav
dataset/audios_train/audio_1028.wav
dataset/audios_train/audio_1030.wav
dataset/audios_train/audio_1031.wav
dataset/audios_train/audio_1032.wav
dataset/audios_train/audio_1036.wav
dataset/audios_train/audio_1038.wav
dataset/audios_train/audio_1040.wav
dataset/audios_train/audio_1043.wav
dataset/audios_train/audio_1057.wav
dataset/audios_train/audio_1059.wav
dataset/audios_train/audio_1065.wav
dataset/audios_train/audio_1066.wav
dataset/audios_train/audio_1069.wav
dataset/audios_train/audio_1075.wav
dataset/audios_train/audio_1078.wav
dataset/audios_train/audio_1082.wav
dataset/audios_train/audio_1099.wav
dataset/audios_train/audio_1100.wav
dataset/audios_train/audio_1102.wav
dataset/audios_train/audio_1103.wav
dataset/audios_train/audio_1104.wav
dataset/audios_train/audio_1106.wav
dataset/audios_train/audio_1110.wav
dataset/audios_train/audio_1111.wav
dataset/audios_train/audio_1112.wav
dataset/audios_train/audio_1114.wav
dataset/audios_train/audio_1117.wav
dataset/audios_train/audio_1118.wav
dataset/audios_train/audio_1120.wav
dataset/audios_train/audio_1125.wav
dataset/audios_train/audio_1126.wav
dataset/audios_train/audio_1128.wav
dataset/audios_train/audio_1129.wav
dataset/audios_train/audio_1131.wav
dataset/audios_train/audio_1134.wav
dataset/audios_train/audio_1135.wav
dataset/audios_train/audio_1136.wav
dataset/audios_train/audio_1147.wav
dataset/audios_train/audio_1148.wav
dataset/audios_train/audio_1150.wav
dataset/audios_train/audio_1153.wav
dataset/audios_train/audio_1160.wav
dataset/audios_train/audio_1162.wav
dataset/audios_train/audio_1163.wav
dataset/audios_train/audio_1164.wav
dataset/audios_train/audio_1171.wav
dataset/audios_train/audio_1172.wav
dataset/audios_train/audio_1175.wav
dataset/audios_train/audio_1177.wav
dataset/audios_train/audio_1182.wav
dataset/audios_train/audio_1184.wav
dataset/audios_train/audio_1185.wav
dataset/audios_train/audio_1187.wav
dataset/audios_train/audio_1191.wav
dataset/audios_train/audio_1196.wav
dataset/audios_train/audio_1200.wav
dataset/audios_train/audio_1202.wav
dataset/audios_train/audio_1208.wav
dataset/audios_train/audio_1210.wav
dataset/audios_train/audio_1212.wav
dataset/audios_train/audio_1216.wav
dataset/audios_train/audio_1223.wav
dataset/audios_train/audio_1226.wav
dataset/audios_train/audio_1230.wav
dataset/audios_train/audio_1236.wav
dataset/audios_train/audio_1239.wav
dataset/audios_train/audio_1245.wav
dataset/audios_train/audio_1247.wav
dataset/audios_train/audio_1251.wav
dataset/audios_train/audio_1252.wav
dataset/audios_train/audio_1261.wav
dataset/audios_train/audio_1262.wav
dataset/audios_train/audio_1264.wav
dataset/audios_train/audio_1266.wav
dataset/audios_train/audio_1268.wav
dataset/audios_train/audio_1272.wav
dataset/audios_train/audio_1274.wav
dataset/audios_train/audio_1277.wav
dataset/audios_train/audio_1284.wav
dataset/audios_train/audio_1285.wav
dataset/audios_train/audio_1290.wav
dataset/audios_train/audio_1296.wav
dataset/audios_train/audio_1298.wav
dataset/audios_train/audio_1304.wav
dataset/audios_train/audio_1307.wav
dataset/audios_train/audio_1312.wav
dataset/audios_train/audio_1313.wav
dataset/audios_train/audio_1314.wav
dataset/audios_train/audio_1318.wav
dataset/audios_train/audio_1325.wav
dataset/audios_train/audio_1326.wav
dataset/audios_train/audio_1329.wav
dataset/audios_train/audio_1332.wav
dataset/audios_train/audio_1333.wav
dataset/audios_train/audio_1335.wav
